{% extends 'base.html' %}

{% block conteudo %}


<body>
    <div>
        <div class="row">
            <div class="col-lg-9 col-md-10">
                <div class="row">

                    <div class="col mb-4 mt-4">
                        <h3 class="text-justify fw-bold">{{post.titulo}}</h3>
                    </div>

                    <br>
                    <hr>
                    <p class="lead text-justify">
                        {{post.texto}}
                    </p>
                </div>
            </div>

            <div class="col lg-3">
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>

</body>

{% endblock %}