.img-small {
    width: 50px;
    height: 50px;
}

.img-courosel {
    width: 100%;
    height: 50%;
}

.carousel-custom {
    max-width: 600px;  /* Defina a largura máxima desejada */
    max-height: 100px; /* Defina a altura máxima desejada */
    margin: auto;      /* Centraliza o carrossel na página */
}
